.darn-search-header {
  font-size: 30px;
  padding: 10px;
}

.darn-search-item--link {
  text-decoration: none;
  color: #666;
}

.darn-search-item--container {
  padding: 20px;
}

.darn-search-item__title {
  font-size: 24px;
  color: #000;
  padding-bottom: 0.5em;
}

.darn-search-item__icon {
  vertical-align: middle;
  font-size: 1.5em !important;
  padding-right: 5px;
}
