.darn-main-content__container {
  padding: 8px 0 !important;
}

.darn-search-header {
  font-size: 24px;
  padding-left: 10px;
}

.darn-search-item__link {
  text-decoration: none;
  color: #444;
}

.darn-search-item__container {
  padding: 12px;
}

.darn-search-item__title {
  font-size: 1.2em;
  color: #000;
  padding-bottom: 3px;
}

.darn-search-item__title--large {
  font-size: 1.3em;
  color: #000;
  padding: 4px 4px;
  min-height: 30px;
}

.darn-search-item__subtitle {
  text-align: right;
}

.darn-search-item__icon {
  vertical-align: middle;
  font-size: 1em !important;
  padding-right: 5px;
}
