.mdl-layout__header {
  min-height: 0 !important;
}

.mdl-progress {
  /* This is hardcoded to 500px in MDL for some reason */
  width: auto !important;
}

.darn-center {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2em;
  pointer-events: none;
}

.darn-center__contents {
  pointer-events: auto;
}

.darn-dialog {
  position: fixed;
  width: 280px;
  top: 50%;
  left: calc(50% - 145px);
  transform: translate(0, -50%);
  background: white;
  z-index: 10;
  padding: 10px;
}

.darn-dialog__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.darn-dialog__title {
  padding: 24px 24px 0;
  font-size: 2.5rem;
  text-decoration: none;
  display: block;
}

.darn-dialog__list-item {
  padding: 8px !important;
}

.darn-dialog__list-item--linked {
  text-decoration: none;
}

.darn-dialog__list-icon {
  margin-right: 10px !important;
}

.darn-dialog__actions {
  padding: 8px;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row-reverse;
}

.darn-tab-icon {
  vertical-align: middle;
}

.darn-main-content__container {
  padding: 8px 0 !important;
  justify-content: center;
}

.darn-main-content__grid {
  padding-bottom: 16px !important;
}

.darn-main-content__grid--centered {
  justify-content: center;
}

.darn-search-box {
  text-align: center;
  margin-top: -10px;
  padding: 0 8px;
}

.darn-search-box__form {
  display: inline-block;
  max-width: 350px;
  width: 100%;
}

.darn-search-box__input {
  flex-grow: 1;

}

.flex-container {
  display: flex;
}

.flex-container--center {
  align-items: center;
  justify-content: center;
}

.flex-container__item {
  flex: 1;
}

.darn-search-header {
  line-height: 1.1em;
  font-size: 24px;
  padding-left: 10px;
}

.darn-search-item__link--has-video {
  position: relative;
}

.darn-search-item__link--has-video::after {
  content: "🎬";
  position: absolute;
  color: #fff;
  background: rgba(0, 150, 136, 0.4);
  top: -8px;
  right: -8px;
  font-size: 12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.darn-search-item__link {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

.darn-search-item__container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35px;
}

.darn-search-item__top-row {
  display: flex;
  align-items: center;
}

.darn-search-item__title {
  font-size: 1.2em;
  color: #000;
  padding-bottom: 3px;
  flex: 1;
}

.darn-search-item__title--large {
  font-size: 1.3em;
  padding: 4px;
}

.darn-search-item__song-id {
  margin-left: 1em;
}

.darn-search-item__subtitle {
  text-align: right;
}

.darn-search-item__icon {
  vertical-align: middle;
  font-size: 1.2em !important;
  padding-right: 5px;
}

.darn-settings__list-item {
  border-top: 1px solid #ccc;
}

.darn-file-select {
  text-align: center;
  width: 100%;
}

.darn-file-select--description {
  margin-bottom: 10px;
}

.darn-file-select__button {
  margin-bottom: 10px !important;
}


